/* reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
.container{
  width: 80%;
  margin: auto;
}
.overlay{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
/* intestazione */
.logo{
  width: 200px;
  border-right: 1px solid #e9e9e9;
  padding-right: 20px;
}
.logo img{
  width: 100%;
}
.nav-bar{
  margin-top: 20px;
}
.nav-bar a{
  display: inline-block;
  text-transform: uppercase;
  color: #858585;
  text-decoration: none;
  font-weight: 300;
  margin-right: 10px;
}
/* /intestazione */

/* corpo centrale */
/* banner */
.banner{
  position: relative;
  margin: 20px 0;
}
.banner img, .overlay, .column{
  border-radius: 15px;
}
.banner img{
  display: block;
  width: 100%;
  height: 600px;;
  object-fit: cover;
}
.text-banner{
  position: absolute;
  bottom: 50px;
  left: 30px;
  width: 60%;
  color: white;
}
.text-banner h3{
  font-size: 38px;
  font-weight: 500;
}
.text-banner p, .title p{
  font-size: 15px;
  font-weight: 200;
}
/* /banner */
.box{
  margin-bottom: 5px;
}
/* titolo section box */
.title h2{
  font-size: 40px;
  font-weight: 600;
}
.title p{
  color: #929292;
}
/* /titolo section box */
.row{
  padding: 2% 0;
}
/* inizio column box */
.column{
  float: left;
}
.column-img{
  position: relative;
}
.banner-box, .column-img img{
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.column h4, .column p{
  font-weight: 300;
  font-size: 15px;
  margin-top: 15px;
}
.column p{
  color: #929292;
}
.column_left, .column_right{
  width: 20%;
}
.column_middle{
  width: 56%;
  margin: 0 1%;
}
/* inizio column box */
/* footer */
footer{
  font-size: 12px;
  padding: 10px;
  text-align: center;
  font-weight: 200;
}
#heart{
  color: red;
}
/* /footer */
